@media only screen and (max-device-width: 767px) {
    [class*="col-"] {
        width: 100%;
    }

    header {
        width: 100%;
        padding-left: 0 !important;
        padding-right: 0 !important;
    }

    nav {
        background-color: #556270;
        justify-content: center !important;
    }

    .nav-link {
        color: white;
        font-size: 20px;
    }

    tablet-horizon {
        display: none;   
    }

    .display-col {
        display: none !important;
    }

    .container-fluid {
        width: 100% !important;
    }
    .container {
        margin-top: 2rem;
        margin-bottom: 2rem;
        max-width: 90%;
    }
    .banner {
        width: 100%;
    }
    .image-list{
        justify-content: center;
    }
    .img_360_width {
        padding: 15px;
        max-width: 360px;
        justify-content: center;
    }
    footer div {
        margin: 1rem 0 1rem 0;
    }
}
